.headline {
  text-transform: uppercase;
  font-family: 'OpenSans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #f9fafe;
}

@media (max-width: 991px) {
  .headline {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .headline {
    font-size: 18px;
  }
}