.own-boat-section {
  background: url("./assets/images/oun_boat_section_bg.jpg") no-repeat;
  background-size: cover;

  padding-top: 180px;
  padding-bottom: 160px;
}

@media (max-width: 767px) {
  .own-boat-section {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}