.numbers-section__description {
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #717171;
  margin-top: 15px;
}

@media (max-width: 767px) {
  .numbers-section__description {
    font-size: 14px;
  }
}