.numbers-section__headline {
  font-family: OpenSans, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #343434;
}

@media (max-width: 767px) {
  .numbers-section__headline {
    font-size: 20px;
  }
}