@import "./main-footer";
@import "./main-footer__form-wrapper";
@import "./main-footer__wrapper";
@import "./main-footer__list";
@import "./main-footer__list_order";
@import "./main-footer__list-link";
@import "./main-footer__list-headline";