.main-footer{
  padding-top: 62px;
  padding-bottom: 74px;
  border-top: 6px solid transparent;
  border-image: url('./assets/images/footer-border.png') 30 round;
  background-color: #404040;
}

@media (max-width: 991px) {
  .main-footer{
    padding-top: 31px;
  }
}