.hamburger-menu__item {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  color: #808080;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  height: 40px;
}

.hamburger-menu__item {
  transition-duration: .25s;
}

.hamburger-menu__item:hover {
  background-color: #808080;
  color: white;
}