.form__input-text {
  width: 37%;
  height: 100%;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

  padding: 0 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #717171;
}

@media (max-width: 767px) {
  .form__input-text {
    width: 250px;
    padding: 0 10px;
    font-size: 12px;
  }
}