.image-list__item {
  position: relative;
  height: 360px;
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

@media (max-width: 1199px) {
  .image-list__item {
    width: 450px;
  }
}

@media (max-width: 991px) {
  .image-list__item {
    width: 566px;
  }
}

@media (max-width: 768px) {
  .image-list__item {
    width: 100%;
  }
}