.image-list__item_big {
  flex: 2 716px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .image-list__item_big{
    flex: none;
    margin-right: 0;
    width: 450px;
  }
}

@media (max-width: 991px) {
  .image-list__item_big{
    width: 566px;
  }
}

@media (max-width: 768px) {
  .image-list__item_big {
    width: 100%;
  }
}