.image-list {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
  flex-wrap: wrap;
}

@media (max-width: 1199px) {
  .image-list {
    justify-content: space-around;
  }
}