.image-list__item_middle {
  width: 557px;
  height: 340px;
}

@media (max-width: 1199px) {
  .image-list__item_middle {
    width: 450px;
  }
}

@media (max-width: 991px) {
  .image-list__item_middle{
    width: 566px;
  }
}