.main-nav__list-item {
  padding-left: 25px;
  padding-right: 25px;
  transition: .2s ease-in-out;
}

@media (max-width: 991px) {
  .main-nav__list-item {
    padding-left: 20px;
    padding-right: 20px;
  }
}


