.main-nav__link {
  height: 40px;
  line-height: 40px;

  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #f9fafe;
}