.button__info {
  border: 1px solid rgba(38,38,38,0.29);
  font-size: 14px;
  font-weight: 700;
  color: #343434;
  padding: 25px 43px;
  transition-duration: 0.5s
}

@media (max-width: 767px) {
  .button__info {
    font-size: 12px;
  }
}