.button__submit {
  width: 17%;
  height: 100%;
  background-color: #e7434e;
  border:none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;

  transition-duration: 0.5s
}

@media (max-width: 991px) {
  .button__submit {
    width: 160px;
  }
}