.button__submit:hover{
  background-color: #fff;
  transition-duration: 0.5s
}

.button__submit:hover .button__submit-icon{
  background: url("./assets/images/boat_icon_hover.png");
}

.button__submit:hover .button__submit-content{
  color: #c9434e;
}
